<div class="abi">
    <mat-card>
        
        
        <mat-card-content>
            
            <h2> Login</h2>
            <form class="example-form" [formGroup]="loginform" >
                <mat-form-field class="example-full-width">
                    <mat-label> User Name</mat-label>
                    <input matInput formControlName="username">
                  </mat-form-field><br>
            <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                  </mat-form-field>
                 
                  <div>
                  <button  mat-raised-button color="primary"(click)="proceedlogin()">Submit</button>
                <a routerLink="/register" mat-raised-button color="accent">New User</a>
                  </div>

                 
              
            
              </form>
              
    
        </mat-card-content>
      </mat-card>
    </div>
    
